/* !!!!!! ==== 2020 ВЫНЕСЕННЫЕ СТИЛИ В ОТДЕЛЬНЫЙ ФАЙЛ ==============  !!!!!! */
/* --- 20.01.   Цвета главных разделов:  ---- */
html {color: #C8C6CA;} /* Цвет шрифта сайта */

body { background-color: #1D2813;}

.cont-site {
  background-color: #3C393A; /* Фоновый цвет сайта*/
} 

/* 20.02. ======= HEADER ЦВЕТА ВСЕХ элементов в этой части сайта ========= */
header {  /* --- Стили раздела */
  /*background-color: ; */
}
header h1 { /* --- Стили логотипа */
/*   background-color: ;*/
/*   color: ;*/
}
#site-control { /* блок транскрипций + блок цвета сайта */
  border: 1px solid #5E5E5E;
  background-color: #334C5D; /* Задает цвет всему блоку */
}
#transctiption {  /* --- блок показа транскрипций */
   border-right: 1px solid #5E5E5E;    /* Разделитель транскрипции и цветов сайта */
   /*background-color: ;    фоновый цвет*/
}
#site-color { /* Блок выбора цветов сайта */ } 
table.color_scheme { /* Таблица с выбором цвета сайта*/ } 
/* ---------- Конец 20.02 HEADER */

/* 20.03 ============= ГЛАВНОЕ МЕНЮ ================ 2020 */
#m-menu {  /* --- Контейнер главного меню */
  background-color: #295151; /* Цвет фона главного меню  */
  color: #F2F4D2;  /*  Цвет шрифта (наследуется)  */
  border-top: 0px solid white; /* Цвет границы сверху. Пишу все стили, иначе не работает  */
  border-bottom:  0px solid white;  /* Цвет границы снизу. Пишу все стили, иначе не работает  */
}
#m-menu span:hover { /* --- Тон пункта меню  при НАВЕДЕНИИ курсора  */
  background-color: #874444; /* Тон фона при наведении */
}
#m-menu span.pipe { /* ---  Разделитель пунктов главного меню */
  border-right-color: white;  /*Тон правой границы */
}
.clicked {  /* --- Стиль кликнутого элемента */
  background-color: #874444;
} /* --- Конец 20.03  ГЛАВНОГО МЕНЮ */


aside { /* --- БОКОВАЯ ПАНЕЛЬ навигации */
/*  background-color: ;*/
}
article {/* --- ОСНОВНАЯ (средняя) ЧАСТЬ сайта */
  background-color: #4E4E6E; /* Цвет средней части сайата */
} 
.ad { /* --- КОЛОНКА ДЛЯ РЕКЛАМЫ */
  background-color: #453E50;   /* Ton фона */
}
footer { /* --- ПОДВАЛ */
  background-color: #334C5D; /* Цвет фона футера */
  color: #F5F5D5; /* Цвет текста футера */
}  


.tr{
      position: relative; /* позиционирую РОДИТЕЛЯ для ::after ::befor (они будут потомками) */
      color: #FFD7C8; /* временно, чтобы эти слова были видны в тексте */
/* ---- END 07.04.2020 */      
