/* !!!!!! ==== 2020 ВЫНЕСЕННЫЕ СТИЛИ В ОТДЕЛЬНЫЙ ФАЙЛ ==============  !!!!!! */
/* --- 20.01.   Цвета главных разделов:  ---- */
html {color: #808080;} /* Цвет шрифта сайта */
.cont-site {
  background-color: #D0D0D0; /* Фоновый цвет сайта*/
} 

/* 20.02. ======= HEADER ЦВЕТА ВСЕХ элементов в этой части сайта ========= */
header {  /* --- Стили раздела */
  /*background-color: ; */
}
header h1 { /* --- Стили логотипа */
/*   background-color: ;*/
/*   color: ;*/
}
#site-control { /* блок транскрипций + блок цвета сайта */
  border: 1px solid #5E5E5E;
  background-color: white; /* Задает цвет всему блоку */
}
#transctiption {  /* --- блок показа транскрипций */
   border-right: 1px solid #5E5E5E;    /* Разделитель транскрипции и цветов сайта */
   /*background-color: ;    фоновый цвет*/
}
#site-color { /* Блок выбора цветов сайта */ } 
table.color_scheme { /* Таблица с выбором цвета сайта*/ } 
/* ---------- Конец 20.02 HEADER */

/* 20.03 ============= ГЛАВНОЕ МЕНЮ ================ 2020 */
#m-menu {  /* --- Контейнер главного меню */
  background-color: #295151; /* Цвет фона главного меню  */
  color: #F2F4D2;  /*  Цвет шрифта (наследуется)  */
  border-top: 2px solid white; /* Цвет границы сверху. Пишу все стили, иначе не работает  */
  border-bottom:  2px solid white;  /* Цвет границы снизу. Пишу все стили, иначе не работает  */
}
#m-menu span:hover { /* --- Тон пункта меню  при НАВЕДЕНИИ курсора  */
  background-color: #874444; /* Тон фона при наведении */
}
#m-menu span.pipe { /* ---  Разделитель пунктов главного меню */
  border-right-color: white;  /*Тон правой границы */
}
.clicked {  /* --- Стиль кликнутого элемента */
  background-color: #874444;
} /* --- Конец 20.03  ГЛАВНОГО МЕНЮ */

aside { /* --- БОКОВАЯ ПАНЕЛЬ навигации */
/*  background-color: ;*/
}

article {/* --- ОСНОВНАЯ (средняя) ЧАСТЬ сайта */
  background-color: #E7E7E7; /* Цвет средней части сайата */
} 
div.toc {
  border: 1px solid #bbb; /* рамка блока РАБОТАЕТ  */
  background-color: rgba(43, 60, 109, 0.7);  /*  Цвет ФОНА свернутого меню только ПРИ ЗАГРУЗКЕ страницы */
  background-color: aqua;
  box-shadow: inset 0 0 0px #BABABA;  /* РАБОТАЕТ ВНУТРЕННЯЯ ТЕНЬ для всех  браузеров кроме ИЕ8 и опера-мини*/
}


.ad { /* --- КОЛОНКА ДЛЯ РЕКЛАМЫ */
  background-color: #e2e2e2;   /* Ton фона */
}
footer { /* --- ПОДВАЛ */
  background-color: #5E5E5E; /* Цвет фона футера */
  color: #F5F5D5; /* Цвет текста футера */
}  
/* ---- END 07.04.2020 */      
